SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET=productos
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:5173
PUBLICAR_EXIGE_FOTO=false
FRONTEND_URL=http://localhost:5173
BREVO_API_KEY=
CORREO_REMITENTE=
CORREO_REMITENTE_NOMBRE=Akash Store
FOTO_GENERICA_URL=
